.add-popup{
    width: 400px;
    background-color: whitesmoke;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
    /* transition: 0.6s; */
}

.items{
    background-color:#002b5c ;
    color: white;
    width: auto;
    text-align: center;
    padding: 15px;
}
.items h2{
    font-family:'Montserrat', sans-serif;
}
.items a {
    cursor: pointer;
    margin-left: 15px;
}
.popup-info{
    display : grid; 
    grid-template-columns: 0.5fr 0.5fr;
    padding: 15px;
}
.img img {
    width: 140px;
}

.to-checkout{
    /* border: 1px solid yellow; */
    margin: 15px;
    padding: 20px;
}
.desc{
    /* border: 1px solid red; */
    width: auto;
}
.desc p {
    font-family:'Montserrat', sans-serif;
}
#newprice {
    color: green;
}
#oldprice{
    font-size: 12px;
    color: red;
    text-decoration: line-through;
}
.subtotal{
    margin: 15px;
}
.subtotal h4{
    color: #002b5c;
    padding: 20px;
    font-family:'Montserrat', sans-serif;
}
#subprice{
    margin-left: 50px;
}

.to-checkout a {
    text-decoration: none;
    color: white;
}
#get{
    font-size: 12px;
}
.checkk{
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    width: 250px;
    border-radius: 2px;
    background-color:#002b5c;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
.checkk h3{
    font-family:'Montserrat', sans-serif;
}
.checkk a {
    text-decoration: none;
    color: white;
}
.shopp{
    border: 1px solid yellow;
    text-align: center;
    padding: 10px;
    width: 270px;
    border-radius: 2px;
    background-color: white;
    color: #002b5c;
    border: 1px solid #002b5c;
    cursor: pointer;
}
.shopp p{
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}
.shopp a{
    color: blue;
}
#Qty{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid navy;
   
}
